---
import { storyblokEditable } from '@storyblok/astro'
import type { SbBlokData } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

type PageBlok = SbBlokData & {
  body?: SbBlokData[]
}

interface Props {
  blok: PageBlok
}

const { blok } = Astro.props
---

<div class="editorial-page" {...storyblokEditable(blok)}>
  {blok.body?.map(child => <StoryblokComponent blok={child} />)}
</div>
