---
import MainLayout from '@/layouts/MainLayout.astro'
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/navigations', {
  version: import.meta.env.DEV ? 'draft' : 'published'
})

const content = data.story.content
---

<MainLayout title="Navigations">
  <h1 class="font-cinzel text-center text-3xl">Experience World</h1>
  <StoryblokComponent blok={content} />
</MainLayout>
