---
import '../styles/global.css'
import { Toaster } from 'sonner'
import Head from '@/components/Head.astro'
import HeadSEO from '@/components/HeadSEO.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
    <HeadSEO title={title} description="Yachting and more" />
  </head>
  <body class="bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100">
    <Toaster client:load />
    <slot />
  </body>
</html>
